<button ng-click="logout()">Log Out</button>

<h2>Librarian View</h2>

<style>
th {
	border: 1px solid black;
}
</style>

<table style="border: 1px solid black; margin: 5px"> 
<th> <h2>Shelf Literature</h2></th> <th> <h2>Shelf Science</h2></th> <th> <h2>Shelf Sport</h2></th> <th> <h2>Shelf Art</h2></th>
<tr> 
  <td ng-repeat="shelf in shelves">
  	<table>
  		<tr ng-repeat="book in shelf" style="border: 1px solid black">
  			<td ng-click="getBookDetails(book)" style="border: 1px solid black">{{book["bookName"]}}</td>
  		</tr>
  	</table>
  </td> 
</tr>
</table>

<div id="bookDetails" style="border: 1px solid black; padding:5px; margin: 5px">
	<h3>Book Details</h3>
	<p>Title: {{selectedBook["bookName"]}}</p>
	<p>Type: {{selectedBook["bookType"]}}</p>
	<p>Borrowed by {{selectedBook["borrowedBy"]}}</p>
</div>

<div id="addBook" style="border: 1px solid black; padding: 5px; margin: 5px">
	<h3>Add a Book</h3>
	Title: <input type="text" ng-model="addBookTitle"/><br/>
	Shelf: <select name="shelf" ng-model="addBookShelf">
  		<option value="0">Literature</option>
  		<option value="1">Science</option>
  		<option value="2">Sport</option>
  		<option value="3">Art</option>
	</select><br/>
	Reference <input type="checkBox" ng-model="addBookReference"/><br/>
	<button ng-click="addBook(addBookTitle, addBookShelf, addBookReference)">Add</button>
</div>